* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto Slab', serif;

    /* For Debug Purpose */
    /* border: 1px solid yellow; */
}

html {
    height: 100%;
}

body {
    background-color: black;
}

header {
    margin-top: 33px;
}

main {
    padding-bottom: 44px;
}

table {
    margin: 33px auto;
    width: 77%;
}

th {
    background-color: rgba(215, 210, 210, 0.5);
    text-align: center;
    font-family: 'Rubik Vinyl', cursive;
}

tbody > tr > :nth-child(1) {
    text-align: center;
}

tbody > tr > :nth-child(2) {
    text-align: center;
}

tbody > tr > :nth-child(3) {
    text-align: left;
}

table {
    border: 1px solid yellow;
}

tr:nth-child(even) {
    background-color: rgba(250, 240, 5, 0.77);
}

th, td {
    padding: 5px;
}

h1 {
    text-align: center;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.twenty {
    width: 20%;
}

.sixty {
    width: 60%;
}

.code-text {
    font-family: 'Fira Mono', monospace;
    color: black;
    background-color: rgba(255, 255, 255, 0.77)
}

footer {
    position: fixed;
    height: 44px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 44px;
    background-color: red;
}